<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Curie</title>

  <link rel="stylesheet" href="/static/style/jquery-ui.css">
  </link>
  <link rel="stylesheet" href="/static/style/index.css">
  </link>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>


  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/chart.js"></script>
</head>

<body>

  <div class='topbar_frame'>
    <div class='page_name'>
      Curie Dashboard
    </div>
  </div>

  <div class="leftmenu">

    <div class='left_logo'>
      <img src="./static/img/res/mipmap-mdpi/ic_launcher.png">
    </div>
    <div class="leftmenu_body">


      <div class="leftmenu_row tooltip_object ">

        <div class='leftmenu_row_icon'>
          <img src="./static/img/icons/app_dashboard.png">
        </div>

        <div class="tooltip_box menu_tooltip_box">
          Dashboard
        </div>
      </div>



      <div class="leftmenu_row tooltip_object">

        <div class='leftmenu_row_icon'>
          <img src="./static/img/icons/logout.png">
        </div>

        <div class="tooltip_box menu_tooltip_box">
          Logout
        </div>
      </div>


    </div>

  </div>

  <div class="body">

        <div class="group_2">
          <div class="box_body " >
            <div class='box_body_top '>
              <div class="box_heading heading_7">
                   <img src="./static/img/icons/avatar.png" >
                      User Details
              </div>
            </div>

          Gender: <b>Male</b>  <br><br>
          Age: <b>21</b>  <br><br>
          height: <b>178 cm</b> <br><br>
          weight: <b>71 kg</b><br><br>
          Smoker: <b>No</b> <br><br>
          If yes, Number of cigarettes/day: <b>No</b> <br><br>
          Diabatic: <b>No</b><br><br>


          </div>
        </div>

        <div class='group_11'>

                <div class="box_body " style="height:380px;">
                  <div class='box_body_top '>
                    <div class="box_heading heading_1">
                         <img src="./static/img/icons/sales_graph.png" >
                            Real-time Heartbeats
                    </div>
                  </div>
                        <div class="option_box_action sales_action"></div>

                        <div id='processing_box'>
                                <canvas id='processing_chart'></canvas>
                        </div>

                        <div class='details_of_processing'>

                            <div class='row_of_details'>
                                <div class='head_of_details capital'>No of readings</div>
                                <div class='body_of_details' id='NoOfReading'>-</div>
                            </div>

                            <div class='row_of_details imp_detail'>
                                <div class='head_of_details capital'>Average Heartbeat</div>
                                <div class='body_of_details' id='AverageHeartbeat'>-</div>
                            </div>

                        </div>
                </div>


        </div>

        <div class='group_12'>


               <div class='cards box_body effect_slide_right_1'>
                        <div class="box_body_top">
                                <div class="box_heading small_head heading_2">
                                    <img src="./static/img/icons/footprints.png" >
                                            Pedometer
                                </div>
                        </div>
                        <div class='box_content' id="pedometer">
                                -
                        </div>
               </div>

               <div class='cards box_body effect_slide_right_2'>
                        <div class="box_body_top">
                                <div class="box_heading small_head heading_3">
                                    <img src="./static/img/icons/pizza-slice.png" >
                                        Fat Burn
                                </div>
                        </div>
                        <div class='box_content' id="fat">
                                   -
                        </div>
               </div>

        </div>

        <div class='group_12'>


               <div class='cards box_body effect_slide_right_1'>
                        <div class="box_body_top">
                                <div class="box_heading small_head heading_4">
                                    <img src="./static/img/icons/calorie.png" >
                                            Calories
                                </div>
                        </div>
                        <div class='box_content' id="calories">
                                -
                        </div>
               </div>

               <div class='cards box_body effect_slide_right_2'>
                        <div class="box_body_top">
                                <div class="box_heading small_head heading_5">
                                    <img src="./static/img/icons/destination.png" >
                                        Travel
                                </div>
                        </div>
                        <div class='box_content' id="travel">
                                   -
                        </div>
               </div>

        </div>
  </div>


</body>
<script src="/static/js/index.js"></script>

</html>
