<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Curie</title>

  <link rel="stylesheet" href="/static/style/jquery-ui.css">
  </link>
  <link rel="stylesheet" href="/static/style/index.css">
  </link>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>


  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/jquery-ui.js"></script>

</head>

<body>

  <div class='topbar_frame'>
    <div class='page_name'>
      Dashboard
    </div>
  </div>

  <div class="leftmenu">

    <div class='left_logo'>
      <img src="assets/images/icon_64_white.png">
    </div>
    <div class="leftmenu_body">


      <div class="leftmenu_row tooltip_object ">

        <div class='leftmenu_row_icon'>
          <img src="assets/images/app_dashboard2.png">
        </div>

        <div class="tooltip_box menu_tooltip_box">
          Dashboard
        </div>
      </div>



      <div class="leftmenu_row tooltip_object">

        <div class='leftmenu_row_icon'>
          <img src="assets/images/logout.png">
        </div>

        <div class="tooltip_box menu_tooltip_box">
          Logout
        </div>
      </div>


    </div>

  </div>


</body>
<script src="/static/js/index.js"></script>

</html>
